* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
   
}

.slider {
    display: flex;
    width: 32% ;
    height: 50%;
}

.items {
    width: 100%;
    height: 100%;
}

.item {
    position: relative;
    display: none;
    height: 300px;
}
.item img {
    width: 100%;
    height: 100%;
}
.item.active {
    display: block;
}
.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.thumbs {
    position: relative;
    height: 100%;
}
.thumb {
    height: 60px;
    opacity: 0.5;
}
.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb.active {
    opacity: 1;
}

.prev, 
.next {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    
}

.prev {
    top: 0;
}
.next {
    bottom: 0;
}

